<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
    <li><%= product.country %></li>
    <li>$<%= product.cost %>.00</li>
    <li><%= product.featured %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New Product", new_product_path %>
